<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="./css/about.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="navbar">
        <a href="http://localhost:4000"><img id="logo" src="./stats-king.png" alt="Logo"></a>
        <a class ="nav-item" href="http://localhost:4000/leaderboards">LEADERBOARDS</a>
        <a class ="nav-item" href="#">TOURNAMENTS</a>
        <a class ="nav-item" href="http://localhost:4000/about" style="color:rgb(38,102,184);text-shadow: 1px 1px 7px #000000b6;">ABOUT</a>
    </div>
    <div class="body">
      <p>StatsKing is a statistics website for Clash Royale. The website uses official Clash Royale API to fetch stats of the players. More games will be supported in the future.</p> <br>
      <p>I have developed this website alone. I am a college student from India. This website is open source. Checkout the repository on Github if you are interested in contributing.</p> <br>
      <a href="https://github.com" target="_blank"><button type="button" name="button" id="go"><img src="./github.png" alt="Github" style="width:80px;position: relative; right: 6px;"></button></a>
    </div>
    <div class="footer">
        <div style="grid-row: 1/2; grid-column: 1/2;margin-left: 60px;"><a href="http://localhost:4000" class="footer-link">HOME</a></div>
        <div style="grid-row: 2/3; grid-column: 1/2;margin-left: 60px;"><a href="http://localhost:4000/tournaments" class="footer-link">TOURNAMENTS</a></div>
        <div style="grid-row: 3/4; grid-column: 1/2;margin-left: 60px;"><a href="http://localhost:4000/leaderboards" class="footer-link">LEADERBOARDS</a></div>
        <div style="grid-row: 4/5; grid-column: 1/2;margin-left: 60px;"><a href="http://localhost:4000/about" class="footer-link">ABOUT</a></div>
        <div style="grid-row: 1/2; grid-column: 2/3;" title="Discord"><a href="#"><img src="./Discord-Logo-White.png" alt="discord" style="width: 35px;"></a></div>
        <div style="grid-row: 2/3; grid-column: 2/3;" title="Twitter"><a href="#"><img src="./twitter-icon.png" alt="twitter" style="width: 35px;"></a></div>
        <div style="grid-row: 3/4; grid-column: 2/3;" title="Email"><a href="#" style="font-size: 30px;">@</a></div>
        <div style="justify-self: end;"><img src="/stats-king.png" alt="Logo" style="width: 60px; margin-right: 70px;"></div>
        <div style="justify-self: end;"><img src="/clash.png" alt="clash royale logo" style="width: 60px;margin-right: 70px; transform: scale(2);"></div>
        <div style="grid-row: 5/6; grid-column: 1/2;margin-left: 60px;font-size: 80%;">This website isn't endorsed, affiliated or sponsored by Supercell.</div>
    </div>
  </body>
</html>
